@import "tailwindcss";

* {
	font-family: "handone-handwritten", sans-serif;
}

@keyframes slow-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.animate-slow-spin {
	animation: slow-spin 7s linear infinite;
}

@font-face {
	font-family: "twist-of-black";
	src: url("/fonts/twist-of-black/TwistOfBlack.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

.twist-of-black {
	font-family: "twist-of-black", sans-serif;
}

@font-face {
	font-family: "handone-handwritten";
	src: url("/fonts/handone-handwritten/HandoneMedium.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

.handone {
	font-family: "handone-handwritten", sans-serif;
}
